@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    font-family: "Archivo Black";
}
body{
    background-image: url("background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
ul{
    display: grid;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    width:auto;
}
li{
    font-size: medium;
    color: white;
    border-radius: 2px;
}
.main{
    display: grid;
    align-items: center ;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input{
    height: 7vh;
    width: 21.5vh;
    border-radius: 2px;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
}
input:focus, input:hover{
    background-color: lightblue;
    transition: 500ms;
}
button{
    margin-bottom: 5px;;
    border:none;
    border-radius: 2px;
    color: black;
    background-color: white;
}
button:hover{
    background-color: lightblue;
    color: black;
    transition: 500ms;
}
hr{
    color: lightblue;
    border: solid;
}
